/*
yellow #FFFF00 ;
purple 446DB9;
green 2CA512;
red CB2700;
black 050100;

 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* color: white; */
}

body {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(
      230.74deg,
      rgba(3, 3, 3, 0.4) 6.36%,
      rgba(0, 128, 0, 0) 72.49%
    ),
    #fabc73;

  overflow: hidden;
  opacity: 0;
  transition: opacity 1s ease;
}
.visible {
  opacity: 1;
}
nav {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 80px;
  text-decoration: none;
}
.sign-in-sign-up {
  background: rgba(255, 255, 255, 0.3);
  padding: 5px;
  border-radius: 15px;
  border: 2px solid #fff;
  backdrop-filter: blur(12px);
  cursor: pointer;
  text-decoration: none;
  z-index: 2;
}

/* -------body------------- */
main {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 80px;
  justify-content: space-between;
}
.image-home {
  position: relative;
  width: 271px;
  height: 210px;
  background: url(1.png);
  mix-blend-mode: multiply;
}
.up-span {
  color: #cb2700;
  font-family: "Stylish", sans-serif;
}
.heading {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: "Stylish", sans-serif;
}
.sub-heading {
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 3px;
}
.left-side {
  width: 30%;
}
.right-side {
  margin-left: 0;
  width: 70%;
  justify-content: space-between;
}
