* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, #ff9ce3, #4ab3ff);
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s ease;
}
.visible {
  opacity: 1;
}
nav {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 80px;
}
.sign-in-sign-up {
  background: rgba(255, 255, 255, 0.3);
  padding: 5px;
  border-radius: 15px;
  border: 1px solid #fff;
  backdrop-filter: blur(6px);
  cursor: pointer;
}

main {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 80px;
  justify-content: space-between;
}
main > div {
  width: 50%;
}
.leftside {
  transform: translateY(-100%);
}
.heading {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 2px;
}
.sub-heading {
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 3px;
}
.right-side {
  /* background: burlywood; */
  display: flex;
  justify-content: flex-end;
}
.illustration-home {
  width: 80%;
}
.circle1,
.circle2 {
  z-index: -5;
}
.circle1 {
  background: linear-gradient(225deg, #0994ff, #97ff57);
  filter: blur(10px);
  width: 600px;
  height: 600px;
  border-radius: 50%;
  position: absolute;
  left: -130px;
  top: 0px;
}
.circle2 {
  background: linear-gradient(180deg, #ff57d0, #0094ff);
  filter: blur(5px);
  width: 300px;
  height: 300px;
  right: -30px;
  bottom: -80px;
  position: absolute;

  border-radius: 50%;
}
